# Database Configuration
DB_HOST=mysql
DB_PORT=3306
DB_CONTAINER_PORT=3306
DB_NAME=gms_database
DB_USER=root
DB_PASS=your_password_here

# Backend Configuration
BACKEND_PORT=8080

# phpMyAdmin
PHPMYADMIN_PORT=8081

# NATS Configuration
NATS_LOCAL_PORT=4222
NATS_DOCKER_PORT=4222
NATS_MONITOR_LOCAL_PORT=8222
NATS_MONITOR_DOCKER_PORT=8222

# MinIO Configuration
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
